@import './base.css';

@font-face {
  font-family: 'Pretendard';
  src: url('/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/Pretendard-Bold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Gwangsu';
  src: url('/SandolGwangsu-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Gwangsu';
  src: url('/SandolGwangsu-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Gwangsu';
  src: url('/SandolGwangsu-Bold.ttf') format('truetype');
  font-weight: 600;
}